recursos/

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdv
*.run.xml
*-blx.bib
*.bcf
*.brf
*.cut
*.dvi
*.ps
*.thm
*.tdo
*.auxlock
*.pyg
_minted*/
latexmk.log
